* {
  margin: 0;
}

/* cutive mono */
/* source code pro */

html {
  display: grid;
  min-height: 100%;
  font-family: "Source Code Pro", system-ui;
}

main {
  height: 100%;
}

.layout {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.header {
  padding: .25rem;
  background-color: brown;
  color: white;
}

.main {
  background: linear-gradient(#333, #fff);
}

.footer {
  padding: .15rem;
  background-color: darkslategrey;
  color: white;
  font-weight: 900;
}